{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": ["plugin:vue/vue3-strongly-recommended", "eslint:recommended", "@vue/typescript/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
